.edit-employee-container {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #1f1c2c, #928dab);
}

.edit-employee-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 400px;
}

.custom-input {
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  color: white;
}

.custom-input:focus {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  box-shadow: 0 0 8px #6c63ff;
}

.custom-btn {
  background: linear-gradient(90deg, #6c63ff, #4e54c8);
  border: none;
  font-weight: bold;
  color: white;
  transition: 0.3s ease;
}

.custom-btn:hover {
  background: linear-gradient(90deg, #4e54c8, #6c63ff);
  transform: scale(1.03);
}
